<div class="footer">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sorteio de times</h5>
                <p class="grey-text text-lighten-4">Software desenvolvido para atender a disciplina CETEJ5 - Frameworks Web na Especialização em Java da UTFPR.</p>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            © {{ this.year }} Copyright Text
            </div>
        </div>
    </footer>
</div>