<div class="container contact">
    <div class="row">
      <div class="col s12">
        <div
          id="msg-login"
          class="card-panel red white-text"
          style="display: none"
        ></div>
      </div>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input
              id="username"
              name="username"
              type="text"
              class="validate"
              placeholder="Login"
            />
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input
              id="password"
              name="password"
              type="password"
              class="validate"
              placeholder="Senha"
            />
          </div>
        </div>

        <button class="btn waves-effect waves-purple my-menu darken-4" type="submit" routerLink="jogador">
          Entrar
          <i class="material-icons right">send</i>
        </button>
        
      </form>
    </div>
  </div>