<!-- <nav id="menu-h">
    <ul>
        <li><a href="#">Home</a></li>

        <li><a href="#">Sobre</a></li>
        
        <li><a href="#">Quem Somos</a></li>
        
        <li><a href="#">Contato</a></li>
    </ul>
</nav>
 -->
<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Bem vindos ao Sorteio de times!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Quem Somos</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </nav>