<form>
    <!-- <div class="input-field col s12"> -->
    <table class="my-table">
        <tr>
          <td>
            <input placeholder="Buscar jogador.." id="buscar_jogador" [(ngModel)]="valor" name="valor" type="text" class="validate">
          </td>
          <td>
            <button class="btn waves-effect waves-green my-button-green darken-4" type="submit" (click)="buscar()">
                Buscar
            </button>
          </td>
        </tr>
      </table>
      
<!-- </div> -->
</form>