<div class="container">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="nome" type="text" class="validate">
                <label for="nome">Nome</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="idade" type="text" class="validate">
                <label for="idade">Idade</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select class="browser-default">
                <option value="" disabled selected>Sexo</option>
                <option value="1">Masculino</option>
                <option value="2">Feminino</option>
                <option value="3">Outros</option>
                </select>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <select class="browser-default">
                <option value="" disabled selected>Perna preferida</option>
                <option value="1">Direita</option>
                <option value="2">Esquerda</option>
                <option value="3">Ambidestro</option>
                </select>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <a class="waves-effect waves-light btn">Salvar</a>
            </div>
        </div>
    </form>
</div>